.nav-menu--primary,
ul.nav-menu--primary {
	white-space: nowrap;
	background: #fafafa;

	@include bp(sm) {
		background: transparent;
	}

	li {
		margin: 8px 0;

		@include bp(sm) {
			padding: 0;
		}

		a:hover{
			color: #4eb318;
		}

		&.current-menu-item,
		&.current_page_item,
		&.current-menu-ancestor,
		&.current-menu-parent,
		&.current_page_parent,
		&.current_page_ancestor{
			> a{
				color: #4eb318;
			}
		}
	}

	a {
		font-size: 20px;
		color: #fff;
		padding: 10px 15px;
		border-radius: 4px;

		@include bp(sm) {
			padding: 10px 0;
		}

		&:hover {
			color: #4eb318;
			text-decoration: none;
		}

		&:focus,&:active{
			outline: none;
		}
	}


	li:after,
	a:after,
    a:before {
		@extend .ion;
		margin-left: 5px;
	}

	@include bp(sm) {
		li {
			display: inline-block;
			position: relative;

			/*&:hover {
				> .sub-menu,
				> .children {
					display: block;
				}
			}*/
		}

		a {
			font-size: 14px;
			vertical-align: middle;
			color: #fff;
			margin: 2px 0;
			padding: 8px 14px;
			display: block;
			border: 2px solid transparent;
		}

		.menu-item-has-children > a:after {
			content: $ionicon-var-chevron-down;
		}

		.sub-menu .menu-item-has-children > a:after {
			content: '';
			margin: 0;
		}

		.sub-menu .menu-item-has-children > a:before {
			content: $ionicon-var-chevron-left;
			margin-right: 5px;
		}

		.sub-menu,
		.children {
			display: none;
			padding: 20px 0;
			position: absolute;
			top: 100%;
			left: 50%;
			width: auto;
			z-index: 99999;
			background: #ececec;
			border-bottom-left-radius: 6px;
			border-bottom-right-radius: 6px;
			box-shadow: inset rgba(0, 0, 0, .10) 0 -1px 2px;

			-webkit-transform: translate(-50%, 0);
			-ms-transform:     translate(-50%, 0);
			transform:         translate(-50%, 0);
			@include bp(sm) {
				background: #fff;
			}

			li {
				display: block;
				margin: 0;
				text-align: center;
			}

			a {
				padding-top: 8px;
				padding-bottom: 8px;
			}

			.sub-menu,
			.children {
				left: -100%;
				top: 0;
				border-radius: 6px;

				-webkit-transform: translate(0);
				-ms-transform:     translate(0);
				transform:         translate(0);
			}
		}
	}
}
.widget-area--sidebar {
	.menu {
		padding-left: 0;
		list-style-type: none;
		text-align: center;
		@include bp(sm) {
			padding-left: 40px;
			list-style-type: disc;
			text-align: left;
		}
		li {
			a {
				&:hover, &:focus, &:active {
					color: #4eb318;
					outline: none;
				}
			}
			&.current-menu-item,
			&.current_page_item,
			&.current-menu-ancestor,
			&.current-menu-parent,
			&.current_page_parent,
			&.current_page_ancestor{
				> a{
					color: #4eb318;
				}
			}
		}
	}
}
.resourses-sidebar,
.info-sidebar {
	padding-left: 0;
	list-style-type: none;
	text-align: center;
	@include bp(sm) {
		padding-left: 40px;
		list-style-type: disc;
		text-align: left;
	}
}
