@import "alert_link";

p.job-manager-single-alert-link {
	a {
		@extend .button;
		@extend .button--size-medium;
		display: inline-block;
		
		&:before {
			@extend .ion;
			content: $ionicon-var-android-alert;
			font-size: 20px;
			margin: -2px 10px 0 0;
			vertical-align: middle;
		}
	}
}
#job-manager-alerts {
	overflow: auto;
	.job-manager-alerts {
		border: 1px solid #ccc;
		thead th {
			padding: 10px;
			background: #fbfbfb;
			border: 1px solid #ccc;
			font-size: 12px;
			text-align: center;
			line-height: 180%;
			vertical-align: middle;
		}
		tbody tr {
			border: 1px solid #ccc;
			&:nth-child(even) {
				background: #fbfbfb;
			}
			td {
				padding: 10px;
				border: 1px solid #ccc;
			}
			.job-alert-actions li {
				display: list-item;
			}
		}
		tfoot td {
			padding: 10px;
		}
	}
	@include bp(sm) {
		overflow: visible;
		.job-manager-alerts {
			thead th,
			tfoot td {
				padding: .5em;
			}
			tbody tr {
				&:nth-child(even) {
					background: none;
				}
				td {
					padding: .5em;
				}
				.job-alert-actions li {
					display: inline;
				}
			}
		}
	}
}
